$color1: rgb(2, 128, 144);
$color2: rgb(0,168,150);
$color3: rgb(2,195,154);
$color4: rgb(170,143,102);
$secolor: white;
$shad1: rgb(2, 128, 144, 0.4);
$shad2: rgb(0,168,150, 0.3);
$shad3: rgb(2,195,154, 0.2);
$shad4: rgb(170,143,102, 0.1);